.DS_Store
.env
log.txt
model/bertopic_model
*.pyc
__pycache__/
app/database/data/base
.venv
venv
app/backend/ai-analyzer/data
app/brief.txt
app/database
#Test_Input/charactDescr_valueCharLong_map.json
../recipe.ipynb