services:
  postgres:
    image: postgres:latest
    container_name: postgres_container
    environment:
      POSTGRES_USER: '10telecom'
      POSTGRES_PASSWORD: '10Telecom5432'
      POSTGRES_DB: 'aiagent_db'
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
    driver: local
